.entitynode{
fill: rgb(242, 90, 41);
stroke: rgb(220, 71, 23);
        stroke-width: 2px;
}
.classnode{
fill: rgb(173, 98, 206);
stroke: rgb(148, 83, 177);
        stroke-width: 2px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
.text {
    font-size: 11px;
    pointer-events: none;
}
